 /* ===========SMALL DESKTOP DEVICES============ */

 @media (max-width: 1279px) {

    .container{
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 70px;
    }

    .nav-button {
        display: none;
    }

    nav ul  {
        gap: 20px;
    }


    .mock_up img {
        width: 800px;
        height: 610px;
    }


    .trustedby_content {
        width: 800px;
    }

    .trustedby_fluid {
        gap: 10px;
    }
    
    .trustedby_fluid img {
        width: 195px;
        height: 117px;
    }

    .feature {
        padding-bottom: 40px;
        width: 360px;
      }
    
    .image-section img {
        width: 310px;
        height: 485px;
    }
 }

 /* =========FOR TABLETS DEVICES======== */

 @media (max-width: 900px) {
    .container{
        padding-inline: 30px;
    }

    .container nav ul a {
        font-size: 18px;
    }

    .nav-link-arrow{ 
        padding-right:  6px;
    }

    .hero_content_text {
        width: 700px;
    }
    
    .hero_content h1 {
        font-size: 50px;
    }
    
    .hero_content p {
        font-size: 18px;
    }

    
.mock_up img {
    width: 700px;
    height: 610px;
}


.trustedby_content {
    width: 700px;
    padding-bottom: 20px;
}

.trustedby_fluid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.trustedby_fluid img {
    width: 220px;
    height: 120px;
}

.why_box {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


.why_box h3 {
    font-size: 24px;
    font-weight: 800;
    text-align: left;

}

.why_box p {
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
}


.feature {
  padding-bottom: 40px;
  width: 330px;
}

.feature h2 {
    font-size: 18px;
    padding-bottom: 10px;

}

.feature p {
    font-size: 16px;
    line-height: 26px;
}


.image-section img {
    width: 290px;
    height: 490px;
}

 }


 /* || STYLES FOR ALL MOBILE SCREENS */

 @media (max-width: 740px) {
    .container{
        padding-inline: 30px;
    }
    
.desktop-nav {
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
}


header .nav-links  {
    display: none;
}

    
.nav_mobile_wrapper {
    display: none;
}

    
#popBar {
    display: block;
}

#collapseBar {
     display: none;
     color: #05859f;
    }
     

 .logo img {
    width: 100px;
    height: 16px;
 }

 .hero_content_text {
    width: 350px;
}

.hero_content h1 {
    font-size: 32px;
    line-height: 50px;
    padding-top: 30px;
}

.hero_content p {
    font-size: 16px;
    line-height: 32px;
    padding: 15px 0 40px 0;
}

.hero_btn .btn {
    width: 150px;
}


.mock_up img {
    width: 370px;
    height: 250px;
}


.trustedby_content {
    width: 350px;
    padding-bottom: 20px;
}


.trustedby_content h2 { 
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.trustedby_content p {
    font-size: 16px;
}

.trustedby_fluid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.trustedby_fluid img {
    width: 150px;
    height: 62px;
}

.why-wrapper {
    width: 200px;
}


.why-wrapper h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    padding: 0 0 25px 0;
}

.why-wrapper p {
    padding-top: 18px;
    font-size: 16px;
    font-weight: 500;
}


.why_box {
    gap: 25px;
}


.why_box h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}



.valuation-container {
    flex-direction: column-reverse;
}

.valuation-head-text h1 {
    font-size: 28px;
}

.valuation-head-text p{
    font-size: 16px;
    line-height: 23px;
}


.valuation-text-wrapper {
    width: 180px;
}

.valuation-head-text {
    width: 180px;
    padding-bottom: 70px;
}


.feature {
    width: 180px;
    padding-bottom: 20px;
  }

  .feature p {
    font-size: 16px;
  }


  .image-section {
    width: 200px;
  }
  
  .image-section img {
    width: 180px;
    height: 300px;
}

 }


